<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: #ffffff;">
    <div style="  color :azure; margin-top: 5px; margin-left: 7px; margin-right: 7px;
    height: 50px;
    background-color:#dc143c; ">
        <header>
            <div style="text-align: center; ">
                <h2 style="padding: 5px 0;"> Result Management System </h2>
            </div>
        </header>
    </div>
    <div style="text-align: right; margin-top: 15px;padding-right: 30px;">

        <a class="btn btn-outline-dark" href="/StudentLogin">Log Out</a>

    </div>
    <div style="display:flex;">
        <div style="margin:auto; padding-top: 80px; color:#dc143c; text-align: center;  ">
            <h3> Result</h3>
            <div
                style=" margin-top: 15px; border-style: solid; border-color:#dc143c ; padding: 15px 15px 15px 15px; border-radius: 25px;">
                <p>Roll Number : <%= student.id %>
                </p>
                <p>Name : <%= student.name %>
                </p>
                <p>Date of Birth : <%= student.dob %>
                </p>
                <p>Score : <%= student.score %>
                </p>
            </div>

        </div>

    </div>



</body>

</html>