<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Login Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: #ffffff;">
  <div style="
    display:flex;">
    <form action="/Result" method="POST" style="margin:auto; padding-top: 120px; color:#dc143c; ">
      <h3> Welcome to Student's Login :) </h3> <br>
      <div class="form-group">
        <label for="rollNo">Roll No</label>
        <input type="text" class="form-control" id="rollNo" name="rollNo" placeholder="Enter your Roll No">
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="dob" class="form-control" id="dob" name="dob" placeholder="Enter your Date of Birth">
      </div>
      <button type="submit" class="btn btn-danger">Submit</button> &nbsp;
      <a class="btn btn-outline-dark" href="/">Back</a>
    </form>

  </div>
</body>

</html>